# PROYECTO SQL🐬
## LIMPIEZA DE DATOS


El primer paso será realizar la limpieza de los datos contenidos en un total de siete archivos 'csv' relativos a los registros recogidos por el gerente de un antiguo videoclub. 
A continuación, se recoge el índice de los pasos seguidos para la limpieza de cada archivo:

**1. Limpieza del archivo relativo a los actores y actrices:**

**2. Limpieza del archivo relativo a las categorías:**

**3. Limpieza del archivo relativo a las películas:**

**4. Limpieza del archivo relativo al inventario.**

Comenzamos importando las librerías necesarias para realizar la limpieza:

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import pylab as plt
import seaborn as sns

## 1. LIMPIEZA DEL ARCHIVO 'actor.csv':

+ Comprobación de nulos.
+ Comprobación de duplicados.
+ Unión de columna 'first_name' y 'last_name' en 'name'.
+ Comprobación y eliminación de columnas con valores idénticos.
+ Eliminación de fila con valores repetidos.

**CONTENIDO TRAS LA LIMPIEZA:**

Total = 199 personas.
- ID
- Nombre completo

In [2]:
act = pd.read_csv('../Data/actor.csv', encoding='latin1')   # Importamos el archivo 'actor.csv'
act.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 41.1 KB

In [3]:
act    # Exploramos las columnas y filas

     actor_id first_name     last_name          last_update
0           1   PENELOPE       GUINESS  2006-02-15 04:34:33
1           2       NICK      WAHLBERG  2006-02-15 04:34:33
2           3         ED         CHASE  2006-02-15 04:34:33
3           4   JENNIFER         DAVIS  2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33
..        ...        ...           ...                  ...
195       196       BELA        WALKEN  2006-02-15 04:34:33
196       197      REESE          WEST  2006-02-15 04:34:33
197       198       MARY        KEITEL  2006-02-15 04:34:33
198       199      JULIA       FAWCETT  2006-02-15 04:34:33
199       200      THORA        TEMPLE  2006-02-15 04:34:33

[200 rows x 4 columns]

In [4]:
nan_cols = act.isna().sum()   # Comprobamos la cantidad de nulos por columna

nan_cols[nan_cols>0]   # En este caso, no existen nulos en el archivo 'actor'

Series([], dtype: int64)

In [5]:
act['last_update'].unique()  # Comprobamos si la columna last_update tiene valores idénticos en todas las filas

array(['2006-02-15 04:34:33'], dtype=object)

In [6]:
# Eliminamos la columna 'last_update'

act.drop(columns = ['last_update'], inplace=True)

In [7]:
# Unificamos el nombre y el apellido en una sola columna llamada 'name'

act['name'] = act['first_name'] + ' ' + act['last_name']
delet = ['first_name', 'last_name']
act.drop(columns = delet, inplace=True)

In [8]:
# Comprobamos si existen nombres duplicados

duplicated= act[act['name'].duplicated(keep=False)]
duplicated

     actor_id         name
100       101  SUSAN DAVIS
109       110  SUSAN DAVIS

In [9]:
act = act.drop(109)   # Eliminamos la fila con el índice 109

In [10]:
# Reseteamos el índice

act.reset_index(drop=True, inplace=True)

**DATAFRAME FINAL 'ACTOR':**

In [11]:
act

     actor_id                 name
0           1     PENELOPE GUINESS
1           2        NICK WAHLBERG
2           3             ED CHASE
3           4       JENNIFER DAVIS
4           5  JOHNNY LOLLOBRIGIDA
..        ...                  ...
194       196          BELA WALKEN
195       197           REESE WEST
196       198          MARY KEITEL
197       199        JULIA FAWCETT
198       200         THORA TEMPLE

[199 rows x 2 columns]

# 2. LIMPIEZA DEL ARCHIVO 'category.csv'

+ Exploración de filas y columnas.
+ Eliminación de columna con valores idénticos.

**CONTENIDO TRAS LA LIMPIEZA:** 

Total = 16 categorías.

- ID
- Categoría

In [12]:
cat = pd.read_csv('../Data/category.csv', encoding='latin1')   # Cargamos el archivo
cat    # Exploramos los valores en columnas y filas

    category_id         name          last_update
0             1       Action  2006-02-15 04:46:27
1             2    Animation  2006-02-15 04:46:27
2             3     Children  2006-02-15 04:46:27
3             4     Classics  2006-02-15 04:46:27
4             5       Comedy  2006-02-15 04:46:27
5             6  Documentary  2006-02-15 04:46:27
6             7        Drama  2006-02-15 04:46:27
7             8       Family  2006-02-15 04:46:27
8             9      Foreign  2006-02-15 04:46:27
9            10        Games  2006-02-15 04:46:27
10           11       Horror  2006-02-15 04:46:27
11           12        Music  2006-02-15 04:46:27
12           13          New  2006-02-15 04:46:27
13           14       Sci-Fi  2006-02-15 04:46:27
14           15       Sports  2006-02-15 04:46:27
15           16       Travel  2006-02-15 04:46:27

In [13]:
cat.last_update.unique()   # La columna 'last_update' contiene valores idénticos

array(['2006-02-15 04:46:27'], dtype=object)

In [14]:
cat.drop(columns = ['last_update'], inplace=True)    # Se procede a eliminarla

**DATAFRAME FINAL 'CATEGORY':**

In [15]:
cat.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

# 3. LIMPIEZA DEL ARCHIVO 'film.csv'


+ Exploración y limpieza por columnas.
+ Eliminación de columnas con valores únicos.
+ Eliminación de columna con valores nulos.
+ Creación de nuevas columnas y reestructuración.

**CONTENIDO TRAS LA LIMPIEZA:**

Total = 1000 películas.
- ID
- Título
- Sinopsis
- ID del idioma
- Duración (en minutos)
- Clasificación
- Escenas eliminadas: sí o no
- Detrás de escena: sí o no
- Comentarios: sí o no
- Trailer: sí o no
- Duración del alquiler (en días)
- Precio del alquiler
- Coste de reemplazo

In [16]:
film = pd.read_csv('../Data/film.csv', encoding='latin1')

In [17]:
film.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 495.3 KB

In [18]:
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

En una vista general, podemos observar que ciertas columnas podrían contener en todas sus filas valores únicos **('release_year', 'language_id','last_update')**. Vamos a comprobarlo:

In [19]:
film.release_year.unique()   # Valores únicos en la columna 'release_year' ----> Eliminamos

array([2006])

In [20]:
film.drop(columns = ['release_year'], inplace=True)

In [21]:
film.last_update.unique()    # Valores únicos en la columna 'last_update' ----> Eliminamos

array(['2006-02-15 05:03:42'], dtype=object)

In [22]:
film.drop(columns = ['last_update'], inplace=True)

In [23]:
nan_cols = film.isna().sum()   # Comprobamos la cantidad de nulos por columna

nan_cols[nan_cols>0]           # Todos los valores de la columna 'original_language_id' son nulos ---> Eliminamos

original_language_id    1000
dtype: int64

In [24]:
film.drop(columns = ['original_language_id'], inplace=True)

In [25]:
len(film.title.unique())   # Comprobamos que no hay valores repetidos en los títulos

1000

Limpieza y comprobación de columnas: **'description', 'rental_duration, 'rental_rate', 'length', 'replacement_cost', 'rating' y 'special_features'**. Comprobamos los valores únicos para ver si hay duplicados o valores erróneos y unificamos los valores de 'description' y 'special_features' para que sean todas minúsculas.

In [26]:
film.description.unique()

array(['A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies',
       'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China',
       'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory',
       'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank',
       'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico',
       'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China',
       'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat',
       'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India',
       'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat',
       'A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China',
       'A Boring Epistle of a Butler And a Cat who must Fight a Pastry Chef in A MySQL Convention',
       'A Fanciful Saga of a Hunter And a Pastry Chef who must Vanquish a Boy in Australia',
       'A Action-Packed Drama of a Dentist And a Crocodile who must Battle a Feminist in The Canadian Rockies',
       'A Emotional Drama of a A Shark And a Database Administrator who must Vanquish a Pioneer in Soviet Georgia',
       'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention',
       'A Fast-Paced Drama of a Robot And a Composer who must Battle a Astronaut in New Orleans',
       'A Fast-Paced Character Study of a Composer And a Dog who must Outgun a Boat in An Abandoned Fun House',
       'A Thoughtful Drama of a Composer And a Feminist who must Meet a Secret Agent in The Canadian Rockies',
       'A Emotional Display of a Pioneer And a Technical Writer who must Battle a Man in A Baloon',
       'A Boring Drama of a Woman And a Squirrel who must Conquer a Student in A Baloon',
       'A Insightful Drama of a Girl And a Astronaut who must Face a Database Administrator in A Shark Tank',
       'A Emotional Character Study of a Dentist And a Crocodile who must Meet a Sumo Wrestler in California',
       'A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia',
       'A Thoughtful Display of a Explorer And a Pastry Chef who must Overcome a Feminist in The Sahara Desert',
       'A Thoughtful Display of a Woman And a Astronaut who must Battle a Robot in Berlin',
       'A Amazing Panorama of a Pastry Chef And a Boat who must Escape a Woman in An Abandoned Amusement Park',
       'A Amazing Reflection of a Database Administrator And a Astronaut who must Outrace a Database Administrator in A Shark Tank',
       'A Touching Panorama of a Waitress And a Woman who must Outrace a Dog in An Abandoned Amusement Park',
       'A Fateful Yarn of a Womanizer And a Feminist who must Succumb a Database Administrator in Ancient India',
       'A Epic Story of a Pastry Chef And a Woman who must Chase a Feminist in An Abandoned Fun House',
       'A Awe-Inspiring Reflection of a Pastry Chef And a Teacher who must Overcome a Sumo Wrestler in A U-Boat',
       'A Astounding Story of a Dog And a Squirrel who must Defeat a Woman in An Abandoned Amusement Park',
       'A Action-Packed Reflection of a Crocodile And a Explorer who must Find a Sumo Wrestler in An Abandoned Mine Shaft',
       'A Touching Epistle of a Madman And a Mad Cow who must Defeat a Student in Nigeria',
       'A Action-Packed Reflection of a Pastry Chef And a Composer who must Discover a Mad Scientist in The First Manned Space Station',
       'A Emotional Epistle of a Forensic Psychologist And a Butler who must Challenge a Waitress in An Abandoned Mine Shaft',
       'A Brilliant Panorama of a Mad Scientist And a Mad Cow who must Meet a Pioneer in A Monastery',
       'A Beautiful Yarn of a Pioneer And a Monkey who must Pursue a Explorer in The Sahara Desert',
       'A Fast-Paced Tale of a Boat And a Teacher who must Succumb a Composer in An Abandoned Mine Shaft',
       'A Boring Saga of a Database Administrator And a Womanizer who must Battle a Waitress in Nigeria',
       'A Fanciful Documentary of a Mad Cow And a Womanizer who must Find a Dentist in Berlin',
       'A Stunning Reflection of a Robot And a Moose who must Challenge a Woman in California',
       'A Thrilling Yarn of a Feminist And a Hunter who must Fight a Technical Writer in A Shark Tank',
       'A Fast-Paced Panorama of a Technical Writer And a Mad Scientist who must Find a Feminist in An Abandoned Mine Shaft',
       'A Astounding Panorama of a Composer And a Frisbee who must Reach a Husband in Ancient Japan',
       'A Beautiful Tale of a Dentist And a Mad Cow who must Battle a Moose in The Sahara Desert',
       'A Boring Character Study of a A Shark And a Girl who must Outrace a Feminist in An Abandoned Mine Shaft',
       'A Stunning Character Study of a Mad Scientist And a Mad Cow who must Kill a Car in A Monastery',
       'A Emotional Panorama of a Pioneer And a Composer who must Escape a Mad Scientist in A Jet Boat',
       'A Stunning Drama of a Forensic Psychologist And a Husband who must Overcome a Waitress in A Monastery',
       'A Insightful Panorama of a Forensic Psychologist And a Mad Cow who must Build a Mad Scientist in The First Manned Space Station',
       'A Thrilling Documentary of a Composer And a Monkey who must Find a Feminist in California',
       'A Epic Drama of a Madman And a Cat who must Face a A Shark in An Abandoned Amusement Park',
       'A Awe-Inspiring Drama of a Car And a Pastry Chef who must Chase a Crocodile in The First Manned Space Station',
       'A Awe-Inspiring Story of a Feminist And a Cat who must Conquer a Dog in A Monastery',
       'A Intrepid Story of a Cat And a Student who must Vanquish a Girl in An Abandoned Amusement Park',
       'A Stunning Epistle of a Man And a Husband who must Reach a Mad Scientist in A Jet Boat',
       'A Fateful Display of a Womanizer And a Mad Scientist who must Outgun a A Shark in Soviet Georgia',
       'A Astounding Saga of a Dog And a Boy who must Kill a Teacher in The First Manned Space Station',
       'A Awe-Inspiring Epistle of a Student And a Squirrel who must Defeat a Boy in Ancient China',
       'A Fast-Paced Display of a Composer And a Moose who must Sink a Robot in An Abandoned Mine Shaft',
       'A Astounding Panorama of a Lumberjack And a Dog who must Redeem a Woman in An Abandoned Fun House',
       'A Astounding Character Study of a Madman And a Robot who must Meet a Mad Scientist in An Abandoned Fun House',
       'A Epic Display of a Pioneer And a Student who must Challenge a Butler in The Gulf of Mexico',
       'A Unbelieveable Drama of a Student And a Husband who must Outrace a Sumo Wrestler in Berlin',
       'A Astounding Panorama of a Man And a Monkey who must Discover a Man in The First Manned Space Station',
       'A Taut Saga of a Crocodile And a Boy who must Overcome a Technical Writer in Ancient China',
       'A Emotional Character Study of a Boat And a Pioneer who must Find a Explorer in A Shark Tank',
       'A Fanciful Documentary of a Womanizer And a Boat who must Defeat a Madman in The First Manned Space Station',
       'A Astounding Drama of a Astronaut And a Cat who must Discover a Woman in The First Manned Space Station',
       'A Emotional Reflection of a Teacher And a Man who must Meet a Cat in The First Manned Space Station',
       'A Stunning Saga of a Mad Scientist And a Forensic Psychologist who must Challenge a Squirrel in A MySQL Convention',
       'A Touching Tale of a Girl And a Crocodile who must Discover a Waitress in Nigeria',
       'A Fanciful Panorama of a Husband And a Pioneer who must Outgun a Dog in A Baloon',
       'A Thrilling Documentary of a Car And a Student who must Sink a Hunter in The Canadian Rockies',
       'A Fast-Paced Saga of a Frisbee And a Astronaut who must Overcome a Feminist in Ancient India',
       'A Boring Story of a Womanizer And a Pioneer who must Face a Dog in California',
       'A Intrepid Yarn of a Pastry Chef And a Mad Scientist who must Challenge a Secret Agent in Ancient Japan',
       'A Thoughtful Character Study of a Frisbee And a Pastry Chef who must Fight a Dentist in The First Manned Space Station',
       'A Emotional Documentary of a Student And a Girl who must Build a Boat in Nigeria',
       'A Touching Drama of a Robot And a Dentist who must Meet a Hunter in A Jet Boat',
       'A Boring Drama of a Explorer And a Man who must Kill a Lumberjack in A Manhattan Penthouse',
       'A Insightful Documentary of a Boat And a Composer who must Meet a Forensic Psychologist in An Abandoned Fun House',
       'A Awe-Inspiring Story of a Waitress And a Dog who must Discover a Dentist in Ancient Japan',
       'A Fast-Paced Story of a Crocodile And a Robot who must Find a Moose in Ancient Japan',
       'A Lacklusture Character Study of a Husband And a Sumo Wrestler who must Succumb a Technical Writer in The Gulf of Mexico',
       'A Fateful Panorama of a Crocodile And a Boy who must Defeat a Monkey in The Gulf of Mexico',
       'A Touching Epistle of a Frisbee And a Husband who must Pursue a Student in Nigeria',
       'A Brilliant Epistle of a Teacher And a Sumo Wrestler who must Defeat a Man in An Abandoned Fun House',
       'A Fateful Epistle of a Moose And a Monkey who must Confront a Lumberjack in Ancient China',
       'A Thrilling Panorama of a Database Administrator And a Astronaut who must Challenge a Lumberjack in A Baloon',
       'A Fast-Paced Yarn of a Waitress And a Composer who must Outgun a Dentist in California',
       'A Amazing Epistle of a Moose And a Crocodile who must Outrace a Dog in Berlin',
       'A Insightful Story of a Dog And a Pastry Chef who must Battle a Girl in Berlin',
       'A Beautiful Reflection of a Student And a Student who must Fight a Moose in Berlin',
       'A Beautiful Display of a Secret Agent And a Monkey who must Battle a Sumo Wrestler in An Abandoned Mine Shaft',
       'A Epic Tale of a Robot And a Monkey who must Vanquish a Man in New Orleans',
       'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat',
       'A Fateful Saga of a A Shark And a Technical Writer who must Find a Woman in A Jet Boat',
       'A Beautiful Drama of a Dentist And a Composer who must Battle a Sumo Wrestler in The First Manned Space Station',
       'A Fateful Character Study of a Butler And a Technical Writer who must Sink a Astronaut in Ancient Japan',
       'A Awe-Inspiring Panorama of a Crocodile And a Moose who must Confront a Girl in A Baloon',
       'A Amazing Display of a Girl And a Womanizer who must Succumb a Lumberjack in A Baloon Factory',
       'A Awe-Inspiring Character Study of a Secret Agent And a Boat who must Find a Squirrel in The First Manned Space Station',
       'A Fanciful Drama of a Moose And a Squirrel who must Conquer a Pioneer in The Canadian Rockies',
       'A Amazing Display of a Mad Cow And a Pioneer who must Redeem a Sumo Wrestler in The Outback',
       'A Emotional Story of a Feminist And a Feminist who must Escape a Pastry Chef in A MySQL Convention',
       'A Lacklusture Yarn of a Feminist And a Database Administrator who must Face a Hunter in New Orleans',
       'A Fateful Story of a Girl And a Composer who must Conquer a Husband in A Shark Tank',
       'A Stunning Epistle of a Boat And a Man who must Challenge a A Shark in A Baloon Factory',
       'A Awe-Inspiring Epistle of a Woman And a Madman who must Fight a Robot in Soviet Georgia',
       'A Thrilling Drama of a Frisbee And a Lumberjack who must Sink a Man in Nigeria',
       'A Thrilling Yarn of a Database Administrator And a Robot who must Battle a Database Administrator in Ancient India',
       'A Touching Character Study of a Woman And a Waitress who must Battle a Pastry Chef in A MySQL Convention',
       'A Astounding Drama of a Crocodile And a Mad Cow who must Build a Robot in A Jet Boat',
       'A Brilliant Epistle of a Composer And a Database Administrator who must Vanquish a Mad Scientist in The First Manned Space Station',
       'A Fanciful Character Study of a Monkey And a Explorer who must Build a Astronaut in An Abandoned Fun House',
       'A Thoughtful Reflection of a Waitress And a Feminist who must Escape a Squirrel in A Manhattan Penthouse',
       'A Fateful Saga of a Moose And a Car who must Pursue a Woman in A MySQL Convention',
       'A Fanciful Tale of a Pioneer And a Technical Writer who must Outgun a Pioneer in A Shark Tank',
       'A Astounding Character Study of a Composer And a Student who must Overcome a Composer in A Monastery',
       'A Amazing Epistle of a Student And a Astronaut who must Discover a Frisbee in The Canadian Rockies',
       'A Amazing Panorama of a Crocodile And a Forensic Psychologist who must Pursue a Secret Agent in The First Manned Space Station',
       'A Intrepid Documentary of a Boat And a Crocodile who must Chase a Robot in The Sahara Desert',
       'A Intrepid Drama of a Frisbee And a Hunter who must Kill a Secret Agent in New Orleans',
       'A Insightful Yarn of a A Shark And a Pastry Chef who must Face a Boy in A Monastery',
       'A Fast-Paced Panorama of a Girl And a A Shark who must Confront a Boy in Ancient India',
       'A Boring Reflection of a Lumberjack And a Feminist who must Discover a Woman in Nigeria',
       'A Taut Tale of a Explorer And a Pastry Chef who must Conquer a Hunter in A MySQL Convention',
       'A Amazing Documentary of a Secret Agent And a Astronaut who must Vanquish a Hunter in A Shark Tank',
       'A Beautiful Character Study of a Sumo Wrestler And a Dentist who must Find a Dog in California',
       'A Beautiful Documentary of a Boy And a Robot who must Discover a Squirrel in Australia',
       'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria',
       'A Amazing Story of a Mad Cow And a Dog who must Kill a Husband in A Monastery',
       'A Astounding Story of a Forensic Psychologist And a Forensic Psychologist who must Overcome a Moose in Ancient China',
       'A Boring Drama of a Dog And a Forensic Psychologist who must Outrace a Explorer in Ancient India',
       'A Action-Packed Display of a Man And a Waitress who must Build a Dog in A MySQL Convention',
       'A Unbelieveable Epistle of a Robot And a Husband who must Chase a Robot in The First Manned Space Station',
       'A Astounding Saga of a Technical Writer And a Butler who must Battle a Butler in A Shark Tank',
       'A Emotional Character Study of a Pioneer And a Girl who must Discover a Dog in Ancient Japan',
       'A Fateful Yarn of a Mad Cow And a Waitress who must Battle a Student in California',
       'A Emotional Drama of a Dog And a Explorer who must Outrace a Technical Writer in Australia',
       'A Lacklusture Epistle of a Boat And a Technical Writer who must Fight a A Shark in The Canadian Rockies',
       'A Brilliant Panorama of a Technical Writer And a Lumberjack who must Escape a Butler in Ancient India',
       'A Epic Documentary of a Sumo Wrestler And a Butler who must Kill a Car in Ancient India',
       'A Boring Epistle of a Boat And a Database Administrator who must Kill a Sumo Wrestler in The First Manned Space Station',
       'A Action-Packed Epistle of a Dentist And a Moose who must Meet a Mad Cow in Ancient Japan',
       'A Unbelieveable Story of a Mad Scientist And a Technical Writer who must Discover a Composer in Ancient China',
       'A Action-Packed Epistle of a Feminist And a Astronaut who must Conquer a Boat in A Manhattan Penthouse',
       'A Stunning Character Study of a Composer And a Mad Cow who must Succumb a Cat in Soviet Georgia',
       'A Brilliant Saga of a Pastry Chef And a Hunter who must Confront a Butler in Berlin',
       'A Thoughtful Drama of a Pastry Chef And a Dentist who must Pursue a Girl in A Baloon',
       'A Fanciful Character Study of a Technical Writer And a Husband who must Redeem a Robot in The Outback',
       'A Amazing Yarn of a Composer And a Squirrel who must Escape a Astronaut in Australia',
       'A Fanciful Documentary of a Crocodile And a Technical Writer who must Fight a A Shark in A Baloon',
       'A Thrilling Display of a Sumo Wrestler And a Girl who must Confront a Man in A Baloon',
       'A Insightful Documentary of a Technical Writer And a Feminist who must Challenge a Cat in A Baloon',
       'A Amazing Drama of a Car And a Robot who must Pursue a Dentist in New Orleans',
       'A Unbelieveable Panorama of a Frisbee And a Hunter who must Vanquish a Monkey in Ancient India',
       'A Epic Tale of a Pioneer And a Hunter who must Escape a Girl in A U-Boat',
       'A Taut Tale of a Butler And a Mad Scientist who must Build a Crocodile in Ancient China',
       'A Taut Tale of a Car And a Pioneer who must Conquer a Sumo Wrestler in An Abandoned Fun House',
       'A Beautiful Yarn of a Astronaut And a Frisbee who must Overcome a Explorer in A Jet Boat',
       'A Astounding Documentary of a Mad Cow And a Pioneer who must Challenge a Butler in The Sahara Desert',
       'A Brilliant Panorama of a Dentist And a Moose who must Find a Student in The Gulf of Mexico',
       'A Thoughtful Panorama of a Car And a Crocodile who must Sink a Monkey in The Sahara Desert',
       'A Awe-Inspiring Drama of a Boy And a Frisbee who must Escape a Pastry Chef in California',
       'A Boring Saga of a Lumberjack And a Monkey who must Find a Monkey in The Gulf of Mexico',
       'A Unbelieveable Panorama of a Pioneer And a Husband who must Meet a Mad Cow in An Abandoned Mine Shaft',
       'A Awe-Inspiring Tale of a Forensic Psychologist And a Woman who must Challenge a Database Administrator in Ancient Japan',
       'A Fanciful Saga of a Student And a Mad Scientist who must Battle a Hunter in An Abandoned Mine Shaft',
       'A Touching Story of a Womanizer And a Composer who must Pursue a Husband in Nigeria',
       'A Insightful Story of a Car And a Boy who must Battle a Technical Writer in A Baloon',
       'A Stunning Reflection of a Cat And a Woman who must Find a Astronaut in Ancient Japan',
       'A Stunning Epistle of a Cat And a Forensic Psychologist who must Confront a Pioneer in A Baloon',
       'A Touching Documentary of a Cat And a Pastry Chef who must Find a Lumberjack in A Baloon',
       'A Unbelieveable Drama of a Crocodile And a Mad Cow who must Reach a Dentist in A Shark Tank',
       'A Fateful Documentary of a Crocodile And a Husband who must Face a Husband in The First Manned Space Station',
       'A Taut Drama of a Mad Scientist And a Man who must Escape a Pioneer in An Abandoned Mine Shaft',
       'A Awe-Inspiring Story of a Student And a Frisbee who must Conquer a Crocodile in An Abandoned Mine Shaft',
       'A Insightful Display of a A Shark And a Monkey who must Face a Database Administrator in Ancient India',
       'A Fateful Documentary of a Robot And a Student who must Battle a Cat in A Monastery',
       'A Taut Character Study of a Husband And a Waitress who must Sink a Squirrel in A MySQL Convention',
       'A Unbelieveable Tale of a Car And a Explorer who must Confront a Boat in A Manhattan Penthouse',
       'A Astounding Drama of a Boy And a Lumberjack who must Fight a Butler in A Baloon',
       'A Lacklusture Display of a Explorer And a Hunter who must Succumb a Database Administrator in A Baloon Factory',
       'A Fanciful Documentary of a Teacher And a Dog who must Outgun a Forensic Psychologist in A Baloon Factory',
       'A Fanciful Panorama of a Boy And a Woman who must Vanquish a Database Administrator in The Outback',

In [27]:
film.description = film.description.str.lower() # Convertimos todas las strings en minúsculas

In [28]:
film.rental_duration.unique()   # Comprobación de valores únicos

array([6, 3, 7, 5, 4])

In [29]:
film.rental_rate.unique()       # Comprobación de valores únicos

array([0.99, 4.99, 2.99])

In [30]:
film.length.unique()            # Comprobación de valores únicos

array([ 86,  48,  50, 117, 130, 169,  62,  54, 114,  63, 126, 136, 150,
        94,  46, 180,  82,  57, 113,  79, 129,  85,  92, 181,  74, 179,
        91, 168, 119, 153, 147, 127, 121,  68,  99, 148, 137, 170,  83,
       108, 118, 162, 182,  75, 173,  87,  65,  90, 122, 160,  89, 175,
       106,  73, 151, 100,  53,  77, 142,  93, 163, 103,  61,  71, 102,
        76,  98,  72, 176, 123,  56, 161,  60, 133, 125,  67,  52, 120,
       167,  70, 135, 112, 183, 110, 152,  51, 146,  66, 185, 124, 107,
       101, 132, 143, 165,  81, 164,  58,  95, 139,  55, 149, 109,  59,
       172, 115, 184, 166,  64, 104,  69,  84, 144,  88, 141,  47,  49,
       177, 154, 159, 178,  96, 116, 171, 140, 155, 158, 174, 138,  97,
       131, 156,  80, 145, 111, 128, 157,  78, 105, 134])

In [31]:
film.replacement_cost.unique()  # Comprobación de valores únicos

array([20.99, 12.99, 18.99, 26.99, 22.99, 17.99, 28.99, 15.99, 21.99,
       24.99, 16.99, 23.99, 10.99, 14.99, 27.99,  9.99, 19.99, 11.99,
       29.99, 25.99, 13.99])

In [32]:
film.rating.unique()            # Comprobación de valores únicos

array(['PG', 'G', 'NC-17', 'PG-13', 'R'], dtype=object)

In [33]:
film.special_features.unique()  # Comprobación de valores únicos

array(['Deleted Scenes,Behind the Scenes', 'Trailers,Deleted Scenes',
       'Commentaries,Behind the Scenes', 'Deleted Scenes', 'Trailers',
       'Commentaries,Deleted Scenes',
       'Trailers,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Behind the Scenes', 'Trailers,Commentaries',
       'Trailers,Behind the Scenes',
       'Commentaries,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Deleted Scenes',
       'Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
       'Behind the Scenes', 'Commentaries'], dtype=object)

Con los valores de la columna **'special_features'** vamos a crear funciones para dividir su contenido en nuevas columnas que devuelvan un booleano (1 si existe, 0 si no existe):
+ 'deleted_scenes'
+ 'behind_scenes'
+ 'trailers'
+ 'commentaries'

Posteriormente, eliminamos la columna **'special_features'**.

In [34]:
# Funciones:

def deleted(fila):
    
    if 'Deleted' in fila['special_features']:
        return 1
    else:
        return 0

    
def behind(fila):
    
    if 'Behind' in fila['special_features']:
        return 1
    else:
        return 0
    
def comment(fila):
    
    if 'Comm' in fila['special_features']:
        return 1
    else:
        return 0
    
def trailer(fila):
    if 'Trai' in fila ['special_features']:
        return 1
    else:
        return 0

In [35]:
# Creación de 4 nuevas columnas, aplicación de las funciones anteriores y eliminación de 'special_features':

film['deleted_scenes'] = film.apply(deleted, axis = 1)
film['behind_scenes'] = film.apply(behind, axis = 1)
film['commentaries'] = film.apply(comment, axis = 1)
film['trailers'] = film.apply(trailer, axis = 1)

film.drop(columns = ['special_features'], inplace=True)

**DATAFRAME FINAL 'FILM'**

In [36]:
# Reordenamos las columnas:

nuevo_orden = ['film_id', 'language_id', 'title', 'description', 'length', 'rating', 'deleted_scenes', 'behind_scenes', 'commentaries', 'trailers', 'rental_duration', 'rental_rate', 'replacement_cost']
film = film.reindex(columns=nuevo_orden)
film.head()

,film_id,language_id,title,description,length,rating,deleted_scenes,behind_scenes,commentaries,trailers,rental_duration,rental_rate,replacement_cost
0,1,1,ACADEMY DINOSAUR,a epic drama of a feminist and a mad scientist...,86,PG,1,1,0,0,6,0.99,20.99
1,2,1,ACE GOLDFINGER,a astounding epistle of a database administrat...,48,G,1,0,0,1,3,4.99,12.99
2,3,1,ADAPTATION HOLES,a astounding reflection of a lumberjack and a ...,50,NC-17,1,0,0,1,7,2.99,18.99
3,4,1,AFFAIR PREJUDICE,a fanciful documentary of a frisbee and a lumb...,117,G,0,1,1,0,5,2.99,26.99
4,5,1,AFRICAN EGG,a fast-paced documentary of a pastry chef and ...,130,G,1,0,0,0,6,2.99,22.99

# 4. LIMPIEZA DEL ARCHIVO 'inventory.csv'

+ Exploración de filas y columnas.
+ Eliminación columna con valores idénticos.

**CONTENIDO TRAS LA LIMPIEZA:**

Total = 1000 registros
+ ID de la tabla
+ ID de la película
+ ID de la tienda

In [37]:
inv = pd.read_csv('../Data/inventory.csv', encoding='latin1')

In [38]:
inv

     inventory_id  film_id  store_id          last_update
0               1        1         1  2006-02-15 05:09:17
1               2        1         1  2006-02-15 05:09:17
2               3        1         1  2006-02-15 05:09:17
3               4        1         1  2006-02-15 05:09:17
4               5        1         2  2006-02-15 05:09:17
..            ...      ...       ...                  ...
995           996      222         2  2006-02-15 05:09:17
996           997      222         2  2006-02-15 05:09:17
997           998      222         2  2006-02-15 05:09:17
998           999      223         2  2006-02-15 05:09:17
999          1000      223         2  2006-02-15 05:09:17

[1000 rows x 4 columns]

In [39]:
inv['last_update'].unique()

array(['2006-02-15 05:09:17'], dtype=object)

In [40]:
inv.drop(columns = ['last_update'], inplace = True)

**DATAFRAME FINAL 'INVENTORY':**

In [41]:
inv.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

# 5. LIMPIEZA DEL ARCHIVO 'language.csv'

+ Exploración de filas y columnas.
+ Eliminación columna con valores idénticos.

**CONTENIDO TRAS LA LIMPIEZA:**

Total = 6 idiomas
+ ID del idioma
+ Idioma

In [42]:
lan = pd.read_csv('../Data/language.csv', encoding='latin1')

In [53]:
lan

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French
5            6    German

In [50]:
lan.last_update.unique()

array(['2006-02-15 05:02:19'], dtype=object)

In [51]:
lan.drop(columns = ['last_update'], inplace = True)

**DATAFRAME FINAL 'LANGUAGE':**

In [52]:
lan

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French
5            6    German

# 6. LIMPIEZA DEL ARCHIVO 'old_HDD.csv'

+ Exploración de filas y columnas.
+ Unión de 'first_name' y 'last_name' en nueva columna 'name'.
+ Eliminación columna con valores idénticos.

**CONTENIDO TRAS LA LIMPIEZA:**

Total = 1000 registros
+ Nombre del actor/actriz
+ Título de la película
+ ID categoría

In [54]:
old = pd.read_csv('../Data/old_HDD.csv', encoding='latin1')

In [55]:
old

    first_name last_name                  title  release_year  category_id
0     PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2     PENELOPE   GUINESS            ANGELS LIFE          2006           13
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4     PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
..         ...       ...                    ...           ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY          2006            3
996     GOLDIE     BRODY        DAISY MENAGERIE          2006           14
997     GOLDIE     BRODY        DESERT POSEIDON          2006           11
998     GOLDIE     BRODY         EVERYONE CRAFT          2006            9
999     GOLDIE     BRODY         EXORCIST STING          2006           15

[1000 rows x 5 columns]

In [57]:
# Unificamos el nombre y el apellido en una sola columna llamada 'name'

old['name'] = old['first_name'] + ' ' + old['last_name']
delet = ['first_name', 'last_name']
old.drop(columns = delet, inplace=True)

In [59]:
old.release_year.unique()      # Verificamos valores idénticos en la columna 'release_year'

array([2006])

In [72]:
old.drop(columns = ['release_year'], inplace=True)    # Eliminamos columna

**DATAFRAME FINAL 'OLD_HDD':**

In [74]:
# Reordenamos las columnas:

nuevo_orden = ['name', 'title', 'category_id']
old = old.reindex(columns=nuevo_orden)
old.head()

               name                  title  category_id
0  PENELOPE GUINESS       ACADEMY DINOSAUR            6
1  PENELOPE GUINESS   ANACONDA CONFESSIONS            2
2  PENELOPE GUINESS            ANGELS LIFE           13
3  PENELOPE GUINESS  BULWORTH COMMANDMENTS           10
4  PENELOPE GUINESS          CHEAPER CLYDE           14

# 7. LIMPIEZA DEL ARCHIVO 'rental.csv'

+ Exploración de filas y columnas.
+ Reseteo del índice en 'rental_id'
+ Eliminación columna con valores idénticos.

**CONTENIDO TRAS LA LIMPIEZA:**

Total = 1001 registros
+ Nombre del actor/actriz
+ Título de la película
+ ID categoría

In [75]:
rent = pd.read_csv('../Data/rental.csv', encoding='latin1')

In [90]:
rent.tail()     # Se observa que la secuencia en rental_id es incorrecta, faltan números

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
995,996,2005-05-31 00:08:25,4243,216,2005-06-02 00:17:25,2,2006-02-15 21:30:53
996,997,2005-05-31 00:16:57,3395,389,2005-06-01 22:41:57,1,2006-02-15 21:30:53
997,998,2005-05-31 00:25:10,4433,413,2005-06-03 06:05:10,2,2006-02-15 21:30:53
998,999,2005-05-31 00:25:56,1774,332,2005-06-08 19:42:56,2,2006-02-15 21:30:53
999,1000,2005-05-31 00:46:31,1498,64,2005-06-06 06:14:31,2,2006-02-15 21:30:53

In [89]:
# Reseteamos el rango de números en la columna 'rental_id'

rent['rental_id'] = range(1, len(rent) + 1)

rent.tail()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
995,996,2005-05-31 00:08:25,4243,216,2005-06-02 00:17:25,2,2006-02-15 21:30:53
996,997,2005-05-31 00:16:57,3395,389,2005-06-01 22:41:57,1,2006-02-15 21:30:53
997,998,2005-05-31 00:25:10,4433,413,2005-06-03 06:05:10,2,2006-02-15 21:30:53
998,999,2005-05-31 00:25:56,1774,332,2005-06-08 19:42:56,2,2006-02-15 21:30:53
999,1000,2005-05-31 00:46:31,1498,64,2005-06-06 06:14:31,2,2006-02-15 21:30:53

In [91]:
rent.inventory_id.unique()

array([ 367, 1525, 1711, 2452, 2079, 2792, 3995, 2346, 2580, 1824, 4443,
       1584, 2294, 2701, 3049,  389,  830, 3376, 1941, 3517,  146,  727,
       4441, 3273, 3961, 4371, 1225, 4068,  611, 3744, 4482, 3832, 1681,
       2613, 1286, 1308,  403, 2540, 4466, 2638, 1761,  380, 2578, 3098,
       1853, 3318, 2211, 1780, 2965, 1983, 1257, 4017, 1255, 2787, 1139,
       1352, 3938, 3050, 2884,  330, 4210,  261, 4008,   79, 3552, 1162,
        239, 4029, 3207, 2168, 2408, 2260,  517, 1744, 3393, 3021, 1303,
       4067, 3299, 2478, 2610, 1388,  466, 1829,  470, 2275, 1586, 2221,
       2181, 2984,  139,  775, 4360, 1675,  178, 3418, 1283, 2970,  535,
       2599,  617,  373, 3343, 4281,  794, 3627, 2833, 3289, 1044, 4108,
       3725, 2153, 2963, 4502,  749, 4453, 4278,  872, 1359,   37, 1053,
       2908, 1795,  212,  952, 2047, 2026, 4322, 4154, 3990,  815, 3367,
        399, 2272,  103, 2296, 2591, 4134,  327,  655,  811, 4407,  847,
       1689, 3905, 1431,  633, 4252, 1084,  909, 2942, 2622, 3888, 1354,
        288, 3193,  887, 2395, 3453, 1885, 2941, 1229, 2306, 1070, 2735,
       3894,  865, 2714, 1758, 3688, 4483, 2873, 3596, 3954, 4346,  851,
       3545, 1489, 2575, 2752, 2417, 4396, 2877, 1970, 2598, 1799, 4004,
       3342,  984, 3962, 4365, 1897, 3900, 1337,  506,  190, 4212, 1789,
       2135, 3926,  776,  674, 3374, 1842,  303, 1717,  102, 3669,  729,
       1801, 4005,  764, 1505, 1453,  679, 1398, 4395, 2291, 3074, 1259,
       3578, 2745, 3121, 4285,  651, 4181,  214,  511, 1131, 1085, 4032,
       2945,  715, 1321, 3537, 1265,  241,  503,  131, 3420, 4438, 2095,
       1721, 1041, 3045, 2829, 4095, 1913, 2428,  368, 4352, 1203, 2969,
       1835, 3264, 3194, 2570, 3534,   30,  435, 1369, 4261, 1160, 2069,
       2276, 3303, 1206, 1714, 3501,  207, 2388,  971, 1590,  656, 1718,
       1221, 1409,  182,  661, 1896, 1208, 4486, 3530,  350, 2486,  314,
       3631, 3546, 2449, 2776,  485, 4264, 1828, 2751, 4030, 3878, 1594,
       1083, 4376,  249, 3448, 2921, 1111, 1701, 2665, 2781, 1097,  187,
       1946,  593, 2830, 2008, 4156, 2851, 2847, 3828,   26, 2559, 3024,
       1090, 4556, 2362, 3364, 2510, 3979, 2678, 2524, 2659, 1536, 1872,
       1529, 4001, 3973, 1411, 1811,  751, 2596, 2410,  946, 4168, 4019,
       3301, 2327, 1396, 4319, 1625, 1825, 2920, 2756, 3371, 4369, 3989,
       2058,  141, 2868, 4417, 1925, 1156, 3489,    6, 2324, 4282,  833,
       2887,  360, 3437, 1247,  944, 3347, 1235, 4089, 1649, 4420, 1815,
       3197, 3012, 2242, 3462, 1777, 2748, 4358,  955,  910, 1565, 1288,
       2684,  434,  691, 3759, 2193,  263,  145, 1890,  752, 1020, 4193,
       1686,  553,  258, 2179,  461, 3983, 1293, 4090, 2136, 1077, 1438,
       3652, 4010, 1434, 1400, 3516, 1019, 3698, 2371, 2253, 3063, 2514,
        619, 2985, 1152, 1783, 2815, 1518, 1103, 1677, 3349,  129, 1920,
       4507, 1119, 4364, 3360, 3328, 4317, 1800, 4260,  354, 4452, 1578,
       1457, 2021,  723, 1757, 1955, 3890, 2671, 2469, 1343,  205, 2993,
       4425, 3499, 3344, 1699, 2368, 3350,  597, 4238, 2077, 2314,  826,
       1313,   20, 1786,  339, 2656, 4463, 1613, 2872, 1338,  802, 1474,
       2520, 2451, 2437,  424, 2060, 2108,   72, 4178, 1510, 3115, 2392,
       1822, 3774,  393, 1940, 3524, 1326, 1999,  184, 1850, 1007, 1785,
       2636,  458, 2381, 4500,  601, 3131, 3005, 2086,   71,  667, 3621,
       4179, 3416, 4338, 3827, 2176,  225, 1697, 3369, 4357,  234, 4087,
       3564, 3845, 2397, 3195, 1905, 1962, 1817, 1387,  266, 1655, 2624,
       3332, 1113, 2793, 4306,  992, 4209, 2962, 3095, 2262, 3427, 3321,
       1662, 4444,  530, 2964, 1086,  487, 2065, 3704, 1818, 3632, 3119,
         23, 1349, 1951, 4397, 1814,  158, 4163, 1227,  644,  928, 3390,
         53, 2973, 1494, 4330, 3308, 2232, 4534, 1122, 4250, 1899, 4020,
       3883, 4451, 1866,  375, 2938, 3481, 3515, 1380, 4579, 2679, 1833,
       3544,  898, 1413,   95, 4231,  473,  377,  638, 1810, 2766,  595,
        821, 4469,  599, 4136, 1567, 3225, 1300, 3248, 1585, 4232, 3509,
       2561, 4254, 2944, 3642, 1230, 2180,  270,  280, 3397,  989, 4142,
       4445, 2482, 2444, 1144, 2363, 1222, 3660, 2889,  452,  425, 2513,
       1527, 1254, 2465, 1287,   58, 2630, 1648, 4213, 1581, 2685, 4204,
        495, 3548,  140, 3105, 4304, 3128, 1922, 3435, 3476, 1781, 4384,
        739, 1201,  126, 2312,  331, 2846,  848, 3226, 1382, 1414, 2247,
       2968, 3997,   87, 1012, 3075,  797, 3528, 3677,  227, 1027,  697,
       1769, 1150, 1273, 2329, 4558, 3741,  907, 4147, 3346, 3160, 2038,
       3242, 1385, 2441, 1731, 4135,  742, 2646, 4034,  800,  635,  592,
       4276, 2076, 3949, 1412,  130,  500,  372, 2556, 1123, 2628, 2809,
       2278,  819, 3133, 2459,  194, 4581, 4191, 3664, 2010, 2030,   85,
       1383, 1736,  267, 3687, 1116, 4540, 3407, 3770, 4088,  933, 1629,
        242, 1688, 3473, 4124, 2530, 2951, 3084, 3421, 3689,  769, 2284,
       1183,  600, 3189,  273, 2528, 3722,  581, 4272, 1993, 2803, 1146,
        730, 2711, 1720, 1021,  734, 3090, 3152, 1067, 1191, 2367, 3250,
       2342, 3683, 2022, 1069,  515, 2154,  687, 2895, 1523, 2491,  353,
       3319,  245, 1188, 1197, 4339,  451, 1816,  533, 1919,   88, 2255,
       3046, 2936,   39, 2637, 3919,  763,  708, 2858, 1554, 2841,  379,
       1995,  609, 2697, 1446, 1102, 1713,  441, 1642,  785, 1602, 3909,
       3132, 2386, 2195, 1928, 2114, 2533, 4419, 1099, 4554, 1572, 3757,
        630,  186, 4106,  623, 2584, 3380, 2634, 3249, 3518,  712, 2263,
         62, 2468, 1684, 3464, 3912, 1381, 2898, 3628,  299, 3140,  977,
       2859, 1886, 4049, 4318, 2328, 2214,  536, 2001,  938, 4387, 1363,
       2424, 2390, 2780, 1622, 3693,  921, 2527, 3969, 2569, 1258, 3032,
        578, 3711, 1186, 3999, 2777, 3183, 2867, 3389, 3604, 3399, 2903,
       4573, 3904, 4568,  363, 1428, 1471,  886, 4265, 4021, 1819,  602,
       3841, 2271, 4079,  646, 4356, 2727,  387, 1299, 1464, 2611,  471,
       3260, 1118, 2744, 2817, 1334, 3497, 1096, 3543,  760, 1514, 2423,
       2466, 4372, 1862, 3320, 4427, 3775, 2601, 1404, 3200, 3213, 1393,
       1859, 1290, 3629,  818, 4052, 3860, 1827, 2442, 1884, 3279, 3203,
       4327, 1158,  246, 4296, 2835, 3384,  719, 3672, 3595, 2421,  901,
       1054, 1521, 1314, 1278, 3630, 4279, 3737,  151, 1441, 1264, 4478,
        585, 2202,  491, 1395, 4389, 2194, 1231, 4140,  647, 4428,  548,
       3108, 1966, 3293, 4535, 1921,  657, 3363, 1294, 1954,  119,  443,
       1520, 2911,    2, 1914, 2617, 3109, 2290, 2029,  407, 3917, 4169,
       2913, 3560,   63, 2305, 1573, 4045,  390, 1364, 4388, 4171, 2863,
       3572, 2080, 2798,   17, 2075, 4243, 3395, 4433, 1774, 1498])