# PROYECTO SQLüê¨
## LIMPIEZA Y BASE DE DATOS

In [23]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import pylab as plt
import seaborn as sns

In [5]:
act = pd.read_csv('../Data/actor.csv', encoding='latin1')
act.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 41.1 KB

In [24]:
def check_nan(df: pd.DataFrame) -> None:        # Activamos la funci√≥n de % de nulos
    
    nan_cols = df.isna().mean() * 100  
    
    nan_cols = nan_cols[nan_cols>0]
    
    display(f'N nan cols: {len(nan_cols)}')
    display(nan_cols)
    
    
    plt.figure(figsize=(10, 6))  

    sns.heatmap(df.isna(),       
                yticklabels=False,  
                cmap='viridis',     
                cbar=False           
               )

    plt.show();

In [14]:
nan_cols = act.isna().sum()   # Comprobamos la cantidad de nulos por columna

nan_cols[nan_cols>0]   # En este caso, no existen nulos en el archivo 'actor'

Series([], dtype: int64)

In [28]:
#filas_nulas = act.isna().all(axis=1)

In [29]:
act

     actor_id first_name     last_name          last_update
0           1   PENELOPE       GUINESS  2006-02-15 04:34:33
1           2       NICK      WAHLBERG  2006-02-15 04:34:33
2           3         ED         CHASE  2006-02-15 04:34:33
3           4   JENNIFER         DAVIS  2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33
..        ...        ...           ...                  ...
195       196       BELA        WALKEN  2006-02-15 04:34:33
196       197      REESE          WEST  2006-02-15 04:34:33
197       198       MARY        KEITEL  2006-02-15 04:34:33
198       199      JULIA       FAWCETT  2006-02-15 04:34:33
199       200      THORA        TEMPLE  2006-02-15 04:34:33

[200 rows x 4 columns]

In [ ]:
cat = pd.read_csv('../Data/category.csv', encoding='latin1')

In [ ]:
film = pd.read_csv('../Data/film.csv', encoding='latin1')

In [ ]:
inv = pd.read_csv('../Data/inventory.csv', encoding='latin1')

In [ ]:
lan = pd.read_csv('../Data/language.csv', encoding='latin1')

In [ ]:
old = pd.read_csv('../Data/old_HDD.csv', encoding='latin1')

In [ ]:
rent = pd.read_csv('../Data/rental.csv', encoding='latin1')